extends layout

block content
  h1= title
  div(id='buttons')
  script
    var table = new Tabulator("#buttons", {
    ajaxURL:"/javascripts/buttonsByPathname.json",
    ajaxContentType:"json",
    layout:"fitColumns",
    groupBy:"Path",
    columns:[
        {title:"Title", field:"Title", sorter:"string", width:"20px"},
        {title:"Subtitle", field:"Subtitle", sorter:"string", width:"25px"},
        {title:"Label", field:"Label", sorter:"string", width:"30px"},
        {title:"Page", field:"Page", sorter:"string", width:"60px", formatter:"link", formatterParams:{labelField:"Page", urlField:"Page"}},
        {title:"URL", field:"Href", sorter:"string", width:"60px", formatter:"link", formatterParams:{labelField:"Href", urlField:"Href"}},
        {title:"Path", field:"Path", sorter:"string", width:"0", visible:false},
    ]
    });