extends layout

block content
  include search
  div(id='buttons')
  script(type="text/javascript").
    var table = new Tabulator("#buttons", {
    ajaxURL:"/javascripts/data.json",
    ajaxContentType:"json",
    layout:"fitDataStretch",
    groupBy:"Path",
    groupHeader:function(value, count, data, group){
      return `<a id=${value.split('/').pop()} href='${value}'>${value}</a><span style='margin-left:10px;'>(appears n ${count} pages)</span>`;
    },
    columns:[
        {title:"Title", field:"Title", sorter:"string"},
        {title:"Subtitle", field:"Subtitle", sorter:"string"},
        {title:"Label", field:"Label", sorter:"string"},
        {title:"Page", field:"Page", sorter:"string", formatter:"link", formatterParams:{labelField:"Page", urlField:"Page"}},
        {title:"Anchor", field:"Anchor", sorter:"string"},
        {title:"Params", field:"Params", sorter:"string"},
        {title:"URL", field:"Href", sorter:"string", formatter:"link", formatterParams:{labelField:"Href", urlField:"Href"}},
        {title:"Path", field:"Path", sorter:"string", visible:false},
    ]
    });