extends layout

block content
  h1= title
  div(id='buttons')
  script
    var table = new Tabulator("#buttons", {
    ajaxURL:"/javascripts/buttonsByPathname.json",
    ajaxContentType:"json",
    tableBuilt: function(){
        // This function will be called *after* the table is built.
        console.log("Table built, data ready to set");
        // Now it is safe to set data
        table.setData(tableData); // set table data
    }
    
    });