extends layout

block content
  h1= title
  div(id='errors')
  script(type="text/javascript").
    var table = new Tabulator("#errors", {
    ajaxURL:"/javascripts/errors.json",
    ajaxContentType:"json",
    layout:"fitDataStretch",
    columns:[
        {title:"Page", field:"page", sorter:"string"},
        {title:"Type", field:"type", sorter:"string"},
        {title:"Data", field:"data", sorter:"string"}
    ]
    });