extends layout

block content
  script. 
   $(document).ready(function(){
    $("div#timestamp").text(new Date(#{timestamp} * 1000));
   })   
  div
    div.timestamp Data collected on 
    div#timestamp.timestamp
  div(id='errors')
  script(type="text/javascript").
    var table = new Tabulator("#errors", {
    ajaxURL:"/javascripts/errors.json",
    ajaxContentType:"json",
    layout:"fitDataStretch",
    columns:[
        {title:"Page", field:"page", sorter:"string"},
        {title:"Type", field:"type", sorter:"string"},
        {title:"Data", field:"data", sorter:"string"}
    ]
    });