extends layout

block content
  script. 
    $(document).ready(function(){
      $("div#timestamp").text(new Date(#{timestamp} * 1000));
    });
  p CPW Vein & Aesthetic Center - Website Analysis
  div
    div.timestamp Last update on:  
    div#timestamp.timestamp
  div.menu
    div.menuitem
      a(href='/visitedpages') Pages
    div.menuitem
      a(href='/buttons') Buttons
    div.menuitem
      a(href='/errors') Errors
    //div.menuitem
      a(href='/update') Update

