extends layout

block content
  p CPW Vein & Aesthetic Center - Website Analysis
  div.menu
    div.menuitem
      a(href='/visitedpages') Pages
    div.menuitem
      a(href='/buttons') Buttons
    div.menuitem
      a(href='/errors') Errors
    div.menuitem
      a(href='/update') Update

