extends layout

block content
  p CPW Vein & Aesthetic Center - Website Analysis
  p.timestamp created on #{new Date(timestamp * 1000)}
  div.menu
    div.menuitem
      a(href='/visitedpages') Pages
    div.menuitem
      a(href='/buttons') Buttons
    div.menuitem
      a(href='/errors') Errors
    //div.menuitem
      a(href='/update') Update

