doctype html
html
  head
    title= title
    script(rel='javascript', src='https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js')
    script(res='javascript', src='/javascripts/cpwmedspa.json')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css')
  body
    a(href='/')
      img.image(src='images/logo.png')
    block content
