extends layout

block content
  include search
  div(id='visitedPages')
  script(type="text/javascript").
    var table = new Tabulator("#visitedPages", {
    ajaxURL:"/javascripts/data.json",
    ajaxContentType:"json",
    layout:"fitDataStretch",
    groupBy:"Page",
    initialSort:[{column:"Position", dir:"asc"}],
    groupHeader:function(value, count, data, group){
      return `<a id='${value.split('/').pop()}' href='https://www.cpwmedspa.com${value}'>${value}</a><span style='margin-left:10px;'>(Page contains ${count} buttons)</span>`;
    },
    columns:[
        {title:"#", field:"Position", sorter:"number"},
        {title:"Title", field:"Title", sorter:"string"},
        {title:"Subtitle", field:"Subtitle", sorter:"string"},
        {title:"Label", field:"Label", sorter:"string"},
        {title:"Path", field:"Path", sorter:"string", formatter:"link", formatterParams:{labelField:"Path", urlField:"Href"}},
        {title:"Anchor", field:"Anchor", sorter:"string"},
        {title:"Params", field:"Params", sorter:"string"},
        {title:"URL", field:"Href", sorter:"string", formatter:"link", formatterParams:{labelField:"Href", urlField:"Href"}},
        {title:"Page", field:"Page", sorter:"string", visible:false},
    ]
    });