extends layout

block content
  h1= title
  div(id='visitedPages')
  script
    var table = new Tabulator("#visitedPages", {
    ajaxURL:"/javascripts/visitedPages.json",
    ajaxContentType:"json",
    layout:"fitDataFill",
    columns:[
        {title:"Page", field:"Page", sorter:"string", width:"auto", formatter:"link", formatterParams:{labelField:"Page", urlField:"Page"}},
        ]   
    });

