body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
} 
div.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
div.content {
  padding: 15px 5px;
}
div.menuitem {
  padding-top: 10px;
}
input#autocomplete-anchor {
  width: 20vw;
  min-width: 250px;
}
.tabulator-row.tabulator-group {
  background: #c60752 !important;
  color: white;
  font-weight: bold;
}
.tabulator-row.tabulator-group a {
  color: white
}
.tabulator-row.tabulator-group span {
  color: silver !important;
  font-weight: bold;
}