body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
}
div.menu {
  padding-top: 10px;
}
.tabulator-row.tabulator-group {
  background: #c60752 !important;
  color: white;
  font-weight: bold;
}
.tabulator-row.tabulator-group a {
  color: white
}
.tabulator-row.tabulator-group span {
  color: silver !important;
  font-weight: bold;
}